/* Colors */
:root {
  --main-table-heading: #506d85;
  --phar-ben: #e67300;
  --med-ben: #f6be00;
  --split-table-heading: #8599aa;
  --table-background: #eef0f3;
  --table-grid: #b9c5ce;
  --white: #ffffff;
  --variable-alt: #e850cc;
  --variable-alt-lite: #fe05d8;
}

.gothicFont {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-size: 12px;
  color: var(--white);
}

.mainTableHead {
  background-color: var(--main-table-heading)
}

.splitTableHead {
  background-color: var(--split-table-heading);
}

.pharBen {
  background-color: var(--phar-ben);
}

.medBen {
  background-color: var(--med-ben);
}